/*
#################################################################################################################################
# Copyright (c) 2019 MUHAMMED SAID BILGEHAN
# All rights reserved.

# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# 1. Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
# 3. All advertising materials mentioning features or use of this software
#    must take permission from MUHAMMED SAID BILGEHAN and must display the
#	   following acknowledgement:
#    This product includes software developed by the MUHAMMED SAID BILGEHAN.
# 4. Neither the name of the MUHAMMED SAID BILGEHAN nor the
#    names of its contributors may be used to endorse or promote products
#    derived from this software without specific prior written permission.

# THIS SOFTWARE IS PROVIDED BY MUHAMMED SAID BILGEHAN ''AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL MUHAMMED SAID BILGEHAN BE LIABLE FOR ANY
# DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
# (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
# LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
# ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF
# THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBLITY OF SUCH DAMAGE.

#################################################################################################################################
*/

/* =============================== */
/* ======== Font Imports ========= */
/* =============================== */
@font-face {
	font-family: ubuntu;
	src: url('./fonts/ubuntu/ubuntu-m.eot');
	src: url('./fonts/ubuntu/ubuntu-m.eot?#iefix') format('embedded-opentype'),
		url('./fonts/ubuntu/ubuntu-m.woff2') format('woff2'),
		url('./fonts/ubuntu/ubuntu-m.woff') format('woff'),
		url('./fonts/ubuntu/ubuntu-m.ttf') format('truetype'),
		url('./fonts/ubuntu/ubuntu-m.svg#ubuntumedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: cute;
	src: url('./fonts/cute/cutefont-regular.eot');
	src: url('./fonts/cute/cutefont-regular.eot?#iefix') format('embedded-opentype'),
		url('./fonts/cute/cutefont-regular.woff2') format('woff2'),
		url('./fonts/cute/cutefont-regular.woff') format('woff'),
		url('./fonts/cute/cutefont-regular.ttf') format('truetype'),
		url('./fonts/cute/cutefont-regular.svg#cute_fontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* =============================== */
/* =============================== */
/* =============================== */

/* =============================== */
/*  Shared Variables and Settings  */
/* =============================== */
:root {
	/* Theme with JS */
	/*
  --textC: white;
  --backgroundC: #222;
  --shadowC: #333;
  --navMenuC: #252525;
  --buttonC: #333 1.0;
	*/

	--textC: black;
	--backgroundC: white;
	--shadowC: #333;
	--navMenuC: #fff;
	--buttonC: #ddd 1.0;
}

/* =============================== */
/* =============================== */
/* =============================== */

* {
	font-family: ubuntu, 'Droid Sans', sans-serif, cute;
	text-decoration: none;
	font-size: 22px;
	scroll-behavior: smooth;

	transition: 0.7s 0s ease;
}

/* =============================== */
/* Default Element Custom Settings */
/* =============================== */
body {
	height: 100%;
	color: var(--textC);
	background-color: var(--backgroundC);

	transition: 0.7s 0s ease;
}

pre,
p,
h1,
h2,
h3,
h4,
h5,
strong {
	color: var(--textC);
	transition: 0.7s 0s ease;
}

.btn{
	width: -webkit-fill-available;
	-webkit-border-radius:	7px;
	-moz-border-radius:			7px;
	border-radius:					7px;
	border:									3px solid #77777777;
}

li {
	list-style-type: none;
}

img {
	display: block;
	width: -webkit-fill-available;
	height: auto;
}

footer {
	background-color: var(--backgroundC);
	bottom: 0px;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	max-height: max-content;
	position: relative;
	text-align: center;
}

/* =============================== */
/* =============================== */
/* =============================== */


/* =============================== */
/* ========= ID Settings ========= */
/* =============================== */

/* Navbar Custom Settings */
#navMenuF {
	z-index: 999;
	position: -webkit-sticky;
	position: sticky;

	top: 0px;
	left: 0px;

	height: fit-content;
	max-height: 134px !important;

	background-color: var(--navMenuC);
}

#themeIcon {
	filter: invert(0);
	-webkit-filter: invert(0);
	transition: 0.77s 0s ease;
}

#titleID {
	filter: blur(100px);

	:hover {
		filter: blur(0px);
	}
}

#titleID:hover {
	filter: blur(0px);
}

#cvDefaultImage {
	filter: invert(0);
	-webkit-filter: invert(0);
}

#logo{
	width: auto;
	height: -webkit-fill-available;
	padding: 0;
}

/* =============================== */
/* =============================== */
/* =============================== */

/* =============================== */
/* ==== First Load Animation  ==== */
/* =============================== */
/*
  Some usefull links;
    https://codepen.io/bartwal/pen/OXOoWN
    https://smallenvelop.com/display-loading-icon-page-loads-completely/
*/
.loadAnimation {
	position: fixed;
	/* Locate the image as non-effected by other elements */

	/* Place the loading image to the whole screen */
	left: 0px;
	/* Locate to the left */
	top: 0px;
	/* Locate to the Top */

	width: 100%;
	height: 100%;
	z-index: 9998;
	/* Locate the image at top on all elements */
	/*
    For Online files;
      background: url(https://giphy.com/gifs/3y0oCOkdKKRi0/html5) repeat center center;
    For local files;
      background: url(./media/gifs/loadAnimation.gif) repeat center center;
  */
	background: url(./media/gifs/loadAnimation.gif) no-repeat center center #000;
}

.loadText {
	position: fixed;
	z-index: 9999;
	width: 100%;

	top: 27%;
	text-align: center;
	color: var(--white) !important;
	background: var(--black) no-repeat center center !important;
}

/* ============================== */
/* ============================== */
/* ============================== */

.col {
	text-align: center;
	vertical-align: middle;
}

/* Navbar Custom Settings */
.navbar {
	display: block;

	height: 17%;
	width: 100%;

	margin: 0px;

	vertical-align: text-top;
	-webkit-box-shadow: 0px -34px 34px 7px rgba(0,0,0,0.75);
	-moz-box-shadow:		0px -34px 34px 7px rgba(0,0,0,0.75);
	box-shadow: 				0px -34px 34px 7px rgba(0,0,0,0.75);
	/*border-bottom: var(--shadowC) solid 0.7px;*/
}

.navbar-color {
	background-color: var(--navMenuC);
}

.navbar-shadow {
	/* Desabled because of it may be better for design
  -moz-box-shadow:    0pt 0.7pt 3.4pt 0.7pt var(--shadowC);
  -webkit-box-shadow: 0pt 0.7pt 3.4pt 0.7pt var(--shadowC);
  box-shadow:         0pt 0.7pt 3.4pt 0.7pt var(--shadowC);
  */
}

.navbar-align {
	margin: auto;
	padding: 0 177px;
}
/* ----- --- --- --- ----- */

/* Navbar Item Custom Settings */
.navbar-item {
	border: solid var(--buttonC) 5px !important;
	margin: auto 0px;
	height: auto;
}

/* dropdown-toggle Bootstrap class Extra Settings */
.dropdown-toggle {
	-moz-box-shadow: none;
	-webkit-shadow: none;
	box-shadow: none;

	border-style: none;
	border-radius: 7px;
}

/* dropdown-menu Bootstrap class Extra Settings */
.dropdown-menu {
	display: none;
	z-index: 999;
	position: absolute;
	width: 100px;
	height: 0;
	max-height: 437px;
	transition: 0.7s;
}

/* Theme Button Custom Settings */
.themeB {
	right: 0;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	cursor: pointer;

	border: none;
	box-shadow: none !important;
	background-color: var(--transparentC);

	width: 77px;
	margin: 7px;

	transition: 0.77s 0.23s;
	filter: invert(0);
}

.themeB:hover {
	filter: invert(100%);
}

/* ------------------------- */

/* CV Settings */
.cv {
	width: auto;

	height: 347px;
	margin: 16px;

}

.cv-img {
	height: auto;
	width: 100%;
}

@media only screen and (max-width: 500px) {
	.cv {
		width: 220px;
	}
}

/* ------------------------- */

.welcomeScreen {
	margin: 0% 0% 16% 0%;
	background: solid center grey 0.5;
	text-align: center;
	align-items: center;
}

@media only screen and (max-width: 500px) {
	.welcomeScreen {
		height: 220px;
		position: relative;
	}
}

.bgBook {
	background-image: url(./media/pics/books1.jpg);
	background-attachment: fixed;
	background-size: contain;

	height: 347px;
	width: -webkit-fill-available;

	position: static;
}

/* Tray Custom Settings (Placed body) */
.Tray {
	text-align: center;
	background-color: var(--backgroundC);
}

.bgVideo {
	width: 100%;
	height: auto;
}

/* ============================== */
/* ====== General Settings ====== */
/* ============================== */
.full-width {
	width: -webkit-fill-available;
}

.full-height {
	height: -webkit-fill-available;
}

.flush-right {
	right: 0px;
	text-align: right;
}

.flush-left {
	left: 0px;
	text-align: left;
}

.sticky {
	position: sticky;
}

.below-navbar {
	top: 11%;
}

.padding {
	padding: 10px;
}

.all-bordered {
	border-style: solid;
	border-color: var(--greyTC);
	border-width: thin;
}

.top-bordered {
	border-top-style: solid;
	border-top-color: var(--greyTC);
	border-top-width: thin;
}

.blurEffect {
	-webkit-filter: blur(5px);
	filter: blur(5px);
}

.effect {
	transition: 0.77s 0s ease
}
